.header {
  background-color: #282c34;
  padding: 1rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 0.3rem;
}

.nav-links a,
.logout-button {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0;
  display: inline;
  background: none;
  border: none;}

.nav-links a:hover,
.logout-button:hover {
  text-decoration: underline;
}

.logout-button {
  font-family: inherit;
  line-height: inherit;
}
