.service-details {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.service-details h1 {
  margin-bottom: 1rem;
}

.service-details p {
  margin: 0.3rem 0;
}

.time-slot-list {
  list-style-type: none;
  padding: 0;
}

.time-slot-list li {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-slot-list li p {
  margin: 0.3rem 0;
}

.time-slot-list button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.time-slot-list button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.success {
  color: green;
  margin-bottom: 1rem;
}

/* Calendar Styling */
.react-calendar {
  width: 100%;
  max-width: 800px;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-bottom: 2rem;
}

.react-calendar__tile--disabled {
  background-color: #f0f0f0 !important;
  color: #d0d0d0 !important;
  cursor: not-allowed;
}

/* Available Dates */
.react-calendar__tile.available {
  background-color: #4caf50 !important; /* Green */
  color: white !important;
}


